.section-grid

	.section-grid__right
		p Вечером 13 мая в Екатеринбурге состоялся турнир RCC 15, в главном событии которого Иван Штырков провел поединок по правилам профессионального кикбоксинга против Петра Романкевича.

		p Изначально Штырков, занимающий пост президента Академии РМК (Русская медная компания. — Прим. «СЭ»), должен был встретиться с Виктором Немковым по правилам смешанных единоборств, но бой сорвался из-за травмы старшего брата чемпиона Bellator. Штырков, по его собственным словам, был готов выступить против любого соперника, чтобы подготовка не прошла зря. На замену вышел титулованный кикбоксер, а правила поменяли в пользу бойца, который спас главное событие вечера.

		ul
			li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
			li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).

		p
		hr

	.section-grid__left
		.section__subtitle контакты

	.section-grid__right
		.i-contacts
			.i-contacts__el
				a(href="tel:+79999999999").i-contacts__phone.title-underline 8 999 999-99-99
			.i-contacts__el
				a(href="mailto:am-fightclub@info.ru").i-contacts__mail.title-underline am-fightclub@info.ru
			.i-contacts__el.social.social--gray
				ul.social__list
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") vk
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") inst
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") tg
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") yt
