.section-grid

	.section-grid__right
		h3 Поединок с Петром Романкевичем дошел до экстра-раунда.

		p Вечером 13 мая в Екатеринбурге состоялся турнир RCC 15, в главном событии которого Иван Штырков провел поединок по правилам профессионального кикбоксинга против Петра Романкевича.

		p Изначально Штырков, занимающий пост президента Академии РМК (Русская медная компания. — Прим. «СЭ»), должен был встретиться с Виктором Немковым по правилам смешанных единоборств, но бой сорвался из-за травмы старшего брата чемпиона Bellator. Штырков, по его собственным словам, был готов выступить против любого соперника, чтобы подготовка не прошла зря. На замену вышел титулованный кикбоксер, а правила поменяли в пользу бойца, который спас главное событие вечера.

.section-grid.section-grid--border-mobile

	.section-grid__left
		.section__subtitle вам может быть интересно

	.section-grid__right
		.news__card.news__card--row.news__card--border
			a(href="#").news__link
			.news__img
				+image('img/news/news-2.jpg', 'alt')
			.news__content
				.news__data
					time(datatime="3 мая 2023") 3 мая 2023
				.news__title.title-underline Полный кард турнира RCC 15
				.news__text 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам и кикбоксингу RCC 15, который

.section-grid

	.section-grid__right

		p Предыдущий бой Штыркова прошел по правилам бокса: в марте Иван сразился с Магомедом Исмаиловым и проиграл решением судей. В ММА Уральский Халк идет на серии из пяти побед: он единогласным решением одолел Асылжана Бахытжанулы, в первом раунде финишировал Насрудина Насрудинова, Михаила Колобегова и Артура Астахова, а также раздельным решением переиграл Мурата Гугова. В кикбоксинге у Штыркова состоялся дебют на RCC 15.

		<img src='img/news/news-6.jpg' alt=''>
		figcaption Присуждение победы Ивану Штыркову

		p Романкевич последний бой по кику провел в феврале 2023-го, когда одолел Сауло Кавалари в рамках «Бойцовского клуба РЕН ТВ». Белорус нокаутировал бразильца коленом в голову во втором раунде. В ММА рекорд Петра составляет шесть побед и два поражения. В конце 2022-го он уступил Залимхану Юсупову удушающим приемом в первом раунде. В профессиональном кикбоксинге рекорд Петра — 32 победы и пять поражений.

		p В третьем раунде Романкевич работал активнее, чем в предыдущих. Он бил лоу- и мидл-кики, выбрасывал колени. Лучше всего работали лоу-кики — белорусский боец явно отбил ногу сопернику. За 20 секунд до конца поединка кикбоксеры зарубились, однако к финишу это не привело. Но после девяти минут определить победителя у судей не вышло, поэтому бойцы вышли на экстра-раунд.

		<img src='img/news/news-5.jpg' alt=''>
		figcaption Стердаун Ивана Штыркова и Петра Романкевича

		p Штырков стал чаще бить руками, а в какой-то момент забылся и оформил перевод — рефери, конечно, соперников сразу разнял. Во второй части экстра-раунда Штырков и Романкевич устроили жесткую рубку. Понять, кто из нее вышел победителем, было невозможно, но в результате у Штыркова образовалась огромная сечка в области лба. Видимо, такой урон не повлиял на решение судей — победу они отдали Штыркову. После поединка Иван поблагодарил оппонента: не только за жесткий поединок на коротком уведомлении, но и за первую сечку в карьере.

.section-grid.section-grid--border-mobile

	.section-grid__left
		h5.section__subtitle поделиться

	.section-grid__right
		.share
			ul.share__list
				li.share__elem
					a.share__link.title-underline(href="") вконтакте
				li.share__elem
					a.share__link.title-underline(href="") телеграм
				li.share__elem
					a.share__link.title-underline(href="") твиттер
				li.share__elem
					a.share__link.title-underline(href="") одноклассники
				li.share__elem.js-copy-link
					input.share__input(value="ссылка для копирования")
					button(type="button").share__text.title-underline скопировать ссылку
					.share__result.hidden ССЫЛКА СКОПИРОВАНА

.section-grid

	.section-grid__right

		.hashtags
			ul.hashtags__list
				li.hashtags__elem
					a.hashtags__link(href="#") #Иван штырков
				li.hashtags__elem
					a.hashtags__link(href="#") #Пётр романкевич
				li.hashtags__elem
					a.hashtags__link(href="#") #mma
				li.hashtags__elem
					a.hashtags__link(href="#") #rcc
				li.hashtags__elem
					a.hashtags__link(href="#") #бои

