.section-grid.section-grid--head

	.section-grid__left
		button(type="button").btn-link.btn-link--revers
			.btn-link__text назад

	.section-grid__right
		.tags
			.tags__tag бои
			.tags__data 3 мая 2023
		h1.title «Спасибо за первую сечку в карьере». Штырков устроил жесткую рубку в дебютном бою по кикбоксингу

.section__img
	+image('img/news/news-1.jpg', 'alt')
