section.section.personal-banner
	.section__container

		.personal-banner__box

			.personal-banner__left
				.personal-banner__name
					button(type="button").btn-link.btn-link--revers
						.btn-link__text назад
					h1.personal-banner__title.title-short Хабибуллин Дмитрий
				.personal-banner__champion
					.personal-banner__label
						.label
							+image('img/card/no-awards.svg', 'alt')
						.personal-banner__tl нет титулов

			.personal-banner__center
				+image('img/banner/no-photo.png', 'alt')

