section.section.personal-next
	.section__container
		.personal-next__box(data-custom-cursor=".custom-cursor")

			.personal-next__card

				a(href="#").personal-next__link
				.personal-next__img
					+image('img/card/card-8.png', 'alt')
				.personal-next__content
					.personal-next__mini
						+image('img/banner/rivals-1.jpg', 'alt')
					.personal-next__top предыдущий боец
					.personal-next__name
						.title-short Хабибуллин Дмитрий
						p 1-0-0

			.personal-next__nobody(data-default-cursor)

			.custom-cursor.btn-slider.btn-slider--circle
