section.section.section--grey.personal-news
	.section__container
		.section-grid.personal-news__top

			.section-grid__left
				.section__subtitle актуальные новости

			.section-grid__right
				h2.title держим в курсе карьеры бойца

		.news
			.news__list
				.news__card
					a(href="#").news__link
					.news__img
						+image('img/news/news-2.jpg', 'alt')
						.tags
							.tags__tag rcc
					.news__content
						.news__data
							time(datatime="3 мая 2023") 3 мая 2023
						.news__title Полный кард турнира RCC 15
						.news__text 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам

				.news__card
					a(href="#").news__link
					.news__img
						+image('img/news/news-4.jpg', 'alt')
						.tags
							.tags__tag бои
					.news__content
						.news__data
							time(datatime="3 мая 2023") 3 мая 2023
						.news__title RCC 15: еще одна яркая встреча турнира Новиков vs Пшебельский
						.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

				.news__card
					a(href="#").news__link
					.news__img
						+image('img/news/news-6.jpg', 'alt')
						.tags
							.tags__tag интервью
					.news__content
						.news__data
							time(datatime="3 мая 2023") 3 мая 2023
						.news__title Осталось всего ДВА дня до RCC 15
						.news__text 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам и кикбоксингу RCC 15

				.news__card
					a(href="#").news__link
					.news__img
						+image('img/news/news-7.jpg', 'alt')
						.tags
							.tags__tag top
					.news__content
						.news__data
							time(datatime="3 мая 2023") 3 мая 2023
						.news__title Полный кард турнира RCC 15
						.news__text 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам и кикбоксингу RCC 15 Полный кард турнира RCC 15
