section.section
	.section__container
		.personal-slider.personal-slider-js.swiper(data-custom-cursor=".custom-cursor")
			.personal-slider__top
				.personal-slider__prev предыдущий боец
				.personal-slider__next следующий боец
			.personal-slider__btns
				button(type="button").personal-slider__btn.personal-slider__btn--prev
				button(type="button").personal-slider__btn.personal-slider__btn--next
			.custom-cursor.btn-slider.btn-slider--circle
			.swiper-wrapper
				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-8.png', 'alt')
						.personal-slider__name
							.title-short Хабибуллин Дмитрий
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-1.png', 'alt')
						.personal-slider__name
							.title-short иван штырков
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-6.png', 'alt')
						.personal-slider__name
							.title-short Хабибуллин Дмитрий
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-2.png', 'alt')
						.personal-slider__name
							.title-short иван штырков
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-1.png', 'alt')
						.personal-slider__name
							.title-short иван штырков
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-6.png', 'alt')
						.personal-slider__name
							.title-short Хабибуллин Дмитрий
							p 1-0-0

				.swiper-slide
					.personal-slider__card
						.personal-slider__img
							+image('img/card/card-2.png', 'alt')
						.personal-slider__name
							.title-short иван штырков
							p 1-0-0


