section.section.personal-duel
	.section__container

		.title-short.personal-duel__short предстоящий бой

		.title-duel.title-duel--s.title-duel--flex.personal-duel__title
			.title-duel__el пётр ян
			.title-duel__el элджемейн стерлинг

		a(href="#").btn-link
			.btn-link__text перейти в расписание

		.section-grid

			.section-grid__right
				.rivals.rivals--m
					.rivals__img
						+image('img/banner/rivals-1.jpg', 'alt')
					.rivals__img
						+image('img/banner/rivals-2.png', 'alt')

		.section-grid.personal-duel__info

			.section-grid__right
				.info
					ul.info__list
						li.info__elem
							.info__name когда
							.info__data 6 мая, суббота в 18:00

						li.info__elem
							.info__name турнир
							.info__data PFL EUROPE 1: 2023 REGULAR SEASON

						li.info__elem
							.info__name где
							.info__data "Vertu Motors Arena", Ньюкасл, Англия, Великобритания

						li.info__elem
							.info__name титул
							.info__data нет

						li.info__elem
							.info__name длительность
							.info__data 5 раундов / 3 минуты
