section.section.personal-story
	.section__container
		.section-grid.personal-story__top

			.section-grid__left
				.title-short прошедшие бои

			.section-grid__right
				h2.title история выступлений

		.ring.ring--white
			.ring__box

				.ring__battles
					.ring__day
						time(datatime="6 мая") 6 мая, суббота

					.battle.battle--row.cardRotate
						.battle__result поражение
							.battle__deskr
								span 5 раунд /
									span 5:00 /
										span решением

						.battle__elem
							.battle__name
								.battle__fighter пётр ян
								span легчайший вес /
									span 16-5-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-1.jpg', 'alt')

						.battle__vs VS

						.battle__elem.battle__elem--left
							.battle__name
								.battle__fighter МЕРАБ ДВАЛИШВИЛИ
								span легчайший вес /
									span 22-3-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-10.png', 'alt')

						.battle__btn
							button(tupe="button").btn.btn--transparent подробнее

				.ring__battles
					.ring__day
						time(datatime="6 мая") 6 мая, суббота
					.battle.battle--row.cardRotate
						.battle__result поражение
							.battle__deskr
								span 3 раунд /
									span 5:00 /
										span решением
						.battle__elem
							.battle__name
								.battle__fighter пётр ян
								span легчайший вес /
									span 16-5-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-1.jpg', 'alt')

						.battle__vs VS

						.battle__elem.battle__elem--left
							.battle__name
								.battle__fighter ШОН О'МЭЛЛИ
								span легчайший вес /
									span 22-3-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-11.png', 'alt')

						.battle__btn
							button(tupe="button").btn.btn--transparent подробнее

				.ring__battles
					.ring__day
						time(datatime="6 мая") 6 мая, суббота
					.battle.battle--row.cardRotate
						.battle__result поражение
							.battle__deskr
								span 5 раунд /
									span 5:00 /
										span решением
						.battle__elem
							.battle__name
								.battle__fighter пётр ян
								span легчайший вес /
									span 16-5-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-1.jpg', 'alt')

						.battle__vs VS

						.battle__elem.battle__elem--left
							.battle__name
								.battle__fighter элджемейн Стерлинг
								span легчайший вес /
									span 22-3-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-2.png', 'alt')

						.battle__btn
							button(tupe="button").btn.btn--transparent подробнее

				.ring__battles
					.ring__day
						time(datatime="6 мая") 6 мая, суббота
					.battle.battle--row.cardRotate
						.battle__result победа
							.battle__deskr
								span 3 раунд /
									span 5:00 /
										span решением
						.battle__elem
							.battle__name
								.battle__fighter пётр ян
								span легчайший вес /
									span 16-5-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-1.jpg', 'alt')

						.battle__vs VS

						.battle__elem.battle__elem--left
							.battle__name
								.battle__fighter КОРИ СЭНДХАГЕН
								span легчайший вес /
									span 22-3-0
							.rivals
								.battle__photo.rivals__img
									+image('img/banner/rivals-12.png', 'alt')

						.battle__btn
							button(tupe="button").btn.btn--transparent подробнее


		//- .loader
