footer.footer
	.footer__container

		.footer__logo
			+image('img/footer-logo.svg', 'alt')

		.footer__top
			nav.footer__nav
				ul.footer__list
					li.footer__item
						a(href="#").footer__link
							.title-underline Новости
					li.footer__item
						a(href="#").footer__link
							.title-underline Расписание боёв
					li.footer__item
						a(href="#").footer__link
							.title-underline Бойцы
					li.footer__item
						a(href="#").footer__link
							.title-underline Для прессы

				a(href="#", target="_blank", rel="noopener noreferrer").btn-blank
					.title-underline RCC Shop

			.footer__right
				.footer__title
					.footer__name  архангел михаил
					p Цель клуба «Архангел Михаил» – популяризация здорового образа жизни и приобщение к спорту молодое население страны. Клуб даёт возможность молодым и заряженным на победы спортсменам реализовать себя с помощью спорта на профессиональном ринге.

		.footer__bottom

			.social
				.social__title клуб в сети
				ul.social__list
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") vk
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") inst
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") tg
					li.social__elem
						a.social__link(href="#", target="_blank", rel="noopener noreferrer") yt

			.footer__right
				.partners
					.partners__title.title-short генеральные партнёры

				ul.partners__list
					li.partners__elem
						a.partners__link(href="#", target="_blank", rel="noopener noreferrer")
							+image('img/rmk.svg', 'alt')
					li.partners__elem
						a.partners__link(href="#", target="_blank", rel="noopener noreferrer")
							+image('img/rmk-e.svg', 'alt')
					li.partners__elem
						a.partners__link(href="#", target="_blank", rel="noopener noreferrer")
							+image('img/rmk.svg', 'alt')

		.footer__sub
			.footer__rights АМ 2023 (c) Все права защищены
			.footer__line
				.footer__span *Социальная сеть Инстаграм принадлежит Meta Platforms Inc., деятельность которой запрещена на территории РФ.
			a(href="#", target="_blank", rel="noopener noreferrer").copyright Сделано в Xpage
