.main-loader

	.main-loader__count

		.main-loader__number
			#number-100
				.main-loader__n 0
				.main-loader__n 1

		.main-loader__number
			#number-90
				.main-loader__n 0
				.main-loader__n 1
				.main-loader__n 2
				.main-loader__n 3
				.main-loader__n 4
				.main-loader__n 5
				.main-loader__n 6
				.main-loader__n 7
				.main-loader__n 8
				.main-loader__n 9

		.main-loader__number
			#number-10
				.main-loader__n 0
				.main-loader__n 1
				.main-loader__n 2
				.main-loader__n 3
				.main-loader__n 4
				.main-loader__n 5
				.main-loader__n 6
				.main-loader__n 7
				.main-loader__n 8
				.main-loader__n 9

	.main-loader__wrapper

		.main-loader__box

			.main-loader__logo

				svg(width="215" height="240" viewBox="0 0 215 240" fill="none" xmlns="http://www.w3.org/2000/svg")

					g.main-loader__svg.sword
						path(d="M109.896 198.532L115.033 195.596C114.153 223.486 110.507 236.82 108.795 240L109.896 198.532Z" fill="white")
						path(d="M105.495 198.165L100.357 195.229C101.238 223.119 104.884 236.453 106.596 239.633L105.495 198.165Z" fill="white")
						path(d="M105.495 200L100.357 195.229L97.422 47.3395L71 50.6423L73.5688 44.4037H108.798L103.294 40.367V9.17432H100.725V3.66973L106.963 0H108.431L113.936 3.66973V9.17432H108.431V9.90827L112.101 12.4771V44.4037L141.092 43.6698L143.661 50.6423L116.872 47.3395L115.033 195.596L109.896 198.532L109.899 53.945L115.771 50.6423V49.9083H99.2569V50.6423L105.495 53.945V200Z" fill="white")
					g.main-loader__svg.wings-center
						path(d="M133.675 155.828L108.026 120C108.026 120 92.3231 141.92 82.263 155.965C77.6959 162.342 70.5686 172.294 70.5686 172.294L69.7392 173.449L60.1539 186.833L54.9153 194.154C55.7333 195.228 56.5855 196.266 57.4434 197.26C58.5379 198.545 59.6922 199.772 60.8893 200.938C62.5281 202.569 64.2269 204.059 65.9912 205.424L72.8459 195.862L81.1514 184.255L82.3485 182.594C89.8018 189.618 98.4322 194.836 107.564 197.678C107.69 197.717 107.818 197.759 107.932 197.789C108.049 197.759 108.174 197.717 108.3 197.678C117.455 194.836 126.085 189.61 133.53 182.579C133.558 182.546 133.592 182.513 133.621 182.481L134.45 183.629L142.747 195.248L149.591 204.816C151.366 203.443 153.065 201.947 154.704 200.319C155.901 199.147 157.055 197.935 158.147 196.643C159.008 195.64 159.86 194.603 160.678 193.535L155.439 186.214L145.854 172.832L145.193 171.908L133.675 155.828Z" fill="black")
						path(d="M117.81 169.914C117.109 170.993 116.367 172.024 115.599 173.001C113.023 176.34 110.192 179.07 107.265 181.011C104.341 179.07 101.509 176.34 98.9267 173.001C98.1653 172.031 97.4295 171.001 96.7285 169.928L107.326 150.573L117.857 169.833C117.844 169.861 117.83 169.886 117.81 169.914ZM123.797 158.224L107.326 128.136C107.326 128.136 97.2421 146.543 90.7819 158.339C87.8491 163.694 83.2723 172.051 83.2723 172.051L82.7396 173.021L76.5844 184.261L73.2203 190.409C73.7456 191.311 74.2929 192.183 74.8438 193.017C75.5466 194.097 76.2879 195.128 77.0566 196.107C78.109 197.476 79.1999 198.728 80.3328 199.873L84.7347 191.844L90.0681 182.096L90.8368 180.701C95.623 186.6 101.165 190.982 107.029 193.369C107.11 193.402 107.192 193.436 107.265 193.462C107.34 193.436 107.421 193.402 107.502 193.369C113.38 190.982 118.922 186.593 123.703 180.688C123.721 180.661 123.743 180.634 123.762 180.606L124.294 181.571L129.622 191.328L134.017 199.363C135.157 198.21 136.248 196.954 137.3 195.587C138.069 194.602 138.81 193.585 139.511 192.499C140.064 191.657 140.611 190.786 141.137 189.889L137.773 183.741L131.617 172.503L131.193 171.727L123.797 158.224Z" fill="#CFC5A0")
					g.main-loader__svg.wings-el-left.wings-el
						path(d="M88.0735 130C83.0826 146.441 88.196 163.151 91.0092 169.266L84.4037 181.01L84.7707 174.037L77.7982 179.542L60.1835 175.505L76.6973 165.597L56.1468 170L32.6606 162.294L70.8257 157.89L27.523 153.854L5.87156 134.037L69.7248 148.349L18.3486 125.964L0 96.2389L69.7248 138.808L15.4129 93.6701L4.40367 51.4682L68.6239 123.395L25.3211 62.8444L20.9174 15.5049L88.0735 130Z" fill="#CFC5A0")
					g.main-loader__svg.wings-el-right.wings-el
						path(d="M126.608 130C131.598 146.441 126.485 163.151 123.672 169.266L130.277 181.01L129.91 174.037L136.883 179.542L154.498 175.505L137.984 165.597L158.534 170L182.021 162.294L143.855 157.89L187.158 153.854L208.81 134.037L144.956 148.349L196.332 125.964L214.681 96.2389L144.956 138.808L199.268 93.6701L210.277 51.4682L146.057 123.395L189.36 62.8444L193.764 15.5049L126.608 130Z" fill="#CFC5A0")

			//- .main-loader__wr
			//- 	.main-loader__name Архангел Михаил

	.main-loader__bg
