section.section.typical
	.section__container
		.head-section
			.head-section__short.head-section__short--width
				+breadcrumbs(['соглашение'])

			.head-section__title
				h1.title Заголовок для типовой страницы h2

		.section__img
			+image('img/typical.jpg', 'alt')

		.section-grid

			.section-grid__right
				h3 Несколько двухстрочных заголовков h3

				h4 Для проверки их сочетания h4

			.section-grid__left
				h5 А именно: отступов и интерлиньяжа h5

			.section-grid__right
				.section__content
					p Заголовок h5 используется только для вспомогательной информации, где есть вероятность появления шестого уровня разбивки. Пример — блок «Контактная информация», который внутри дробится по отделам компании.

					p Самый «нижний» заголовок h6 предваряет такие элементы, как «Комментарий» или «Таблица». <a href="#">ссылка для примера</a>

					p Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают

				.section__slider.swiper.section-slider
					.swiper-wrapper
						.swiper-slide
							.section-slider__slide
								.section-slider__img
									+image('img/typical.jpg', 'alt')
								.section-slider__text Подпись к фото
						.swiper-slide
							.section-slider__slide
								.section-slider__img
									+image('img/typical.jpg', 'alt')
								.section-slider__text Подпись к фото
						.swiper-slide
							.section-slider__slide
								.section-slider__img
									+image('img/typical.jpg', 'alt')
								.section-slider__text Подпись к фото
						.swiper-slide
							.section-slider__slide
								.section-slider__img
									+image('img/typical.jpg', 'alt')
								.section-slider__text Подпись к фото

					button(type="button").section-slider__btn.section-slider__btn--prev
					button(type="button").section-slider__btn.section-slider__btn--next


			.section-grid__left
				h5 	списки

			.section-grid__right
				.section__content
					p Для уменьшения расстояния между параграфом и связанным с ним списком, параграфу нужно добавлять класс «Перед списком» (before_list).

					p Кроме того, существуют правила оформления списков:

					ul
						li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
						li Если пункты списка короткие, не являются самостоятельной законченной конструкцией и грамматически тесно связаны с предшествующей списку вводной фразой, они должны начинаться со строчной буквы и заканчиваться точкой с запятой (в конце последнего пункта — точка).

					ul.dots
						li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
						li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.

					ol
						li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.
						li Если пункты списка длинные и представляют собой развернутые предложения, они должны начинаться с прописной буквы и заканчиваться точкой.

					hr

			.section-grid__left
				h5 важно

			.section-grid__right
				.section__content
					mark Элемент «Важно». (класс important), который используется для выделения особо важной информации. И еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.
					hr
			.section-grid__left
				h5 цитаты

			.section-grid__right
				.section__content
					blockquote «Услуги по реализации товаров „интернет-аптека piluli.ru“ осуществляются на условиях соблюдения законодательства продавцом и покупателем. Продавец принимает на себя обязательства по предоставлению услуг как физическим, так и юридическим лицам»
					figcaption Иван Геннадьевич Савельев, генеральный директор
					hr
			.section-grid__left
				h5 таблица

			.section-grid__right
				.section__content
					.table-wrap
						table
							thead
								tr
									td столбец #1
									td столбец #2
									td столбец #3

							tbody
								tr
									td 1
									td 10 000  руб.
									td 3,3 %
								tr
									td 1
									td 10 000  руб.
									td 3,3 %
								tr
									td текст
									td 10 000  руб.
									td 3,3 %

