section.section.section--border.news
	.news__container

		.head-section
			.head-section__short
				h3.title-short актуальные новости

			.head-section__title
				h2.title держим в курсе событий

			a(href="#").btn-link.head-section__link
				.btn-link__text все новости

		.news__slider.swiper.news-slider-js
			.swiper-wrapper
				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-1.jpg', 'alt')
							.tags
								.tags__tag интервью
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Осталось всего ДВА дня до RCC 15
							.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-2.jpg', 'alt')
							.tags
								.tags__tag rcc
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Полный кард турнира RCC 15
							.news__text 13 мая в КРК «Уралец» состоится международный турнир по смешанным единоборствам и кикбоксингу RCC 15, который закроет «Бойцовский месяц RCC» из четырех международных событий

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-3.jpg', 'alt')
							.tags
								.tags__tag rcc
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title RCC 15: еще одна яркая встреча турнира Новиков vs Пшебельский
							.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-1.jpg', 'alt')
							.tags
								.tags__tag интервью
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Осталось всего ДВА дня до RCC 15
							.news__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus corrupti, accusamus corporis officia hic exercitationem nemo. Sapiente numquam magnam laudantium repudiandae nam? Repudiandae, ducimus quisquam. Ipsa, dolore enim! Itaque, expedita consectetur. Suscipit mollitia iure similique porro aliquam sit voluptatibus perspiciatis unde, assumenda a obcaecati ipsam, distinctio blanditiis delectus corrupti illo?

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-2.jpg', 'alt')
							.tags
								.tags__tag rcc
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Полный кард турнира RCC 15
							.news__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempore fugit esse labore vel natus iste, officiis tempora deserunt vero, sit odit autem sequi? Error, eos repellat iste veritatis pariatur perspiciatis nesciunt quisquam quis explicabo dolor nobis? Nisi maxime iste tempora officia aspernatur adipisci voluptas, sit doloremque voluptatibus corrupti voluptatem qui eius nesciunt deleniti praesentium rem vel neque, repudiandae iure saepe quae in harum aliquam? Corrupti quaerat velit nam distinctio voluptates alias illum tenetur placeat modi non, exercitationem quasi laboriosam quibusdam consectetur quo! Vitae natus quos dolore at eius inventore recusandae harum tempore doloribus optio aliquid dolor ea ad adipisci, blanditiis incidunt explicabo voluptatibus magnam in, quam, magni sit ipsam quasi quae? Blanditiis fuga, dolore recusandae ducimus aperiam voluptate doloribus reprehenderit, dicta animi repellendus a, quis doloremque dolorem quisquam cupiditate quas similique quidem voluptates impedit est labore reiciendis? Dolorem ullam unde eius, ex iste corrupti assumenda amet enim! Aut, iusto.

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-3.jpg', 'alt')
							.tags
								.tags__tag rcc
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title RCC 15: еще одна яркая встреча турнира Новиков vs Пшебельский
							.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-1.jpg', 'alt')
							.tags
								.tags__tag интервью
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Осталось всего ДВА дня до RCC 15
							.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

				.swiper-slide

					.news__card
						a(href="#").news__link
						.news__img
							+image('img/news/news-2.jpg', 'alt')
							.tags
								.tags__tag интервью
						.news__content
							.news__data
								time(datatime="3 мая 2023") 3 мая 2023
							.news__title Осталось всего ДВА дня до RCC 15
							.news__text 13 мая в Екатеринбурге пройдет 15-й номерной турнир RCC, где соберутся звезды мирового ММА и кикбоксинга.

			.swiper-pagination
