extends /base/_head
block content
	body.inner
		.layout
			//-HEADER
			include /sections/_header
			main.page.js-paralax

				section.section.min-height

					.section__container
						.section-grid.section-grid--head

							.section-grid__left
								button(type="button").btn-link.btn-link--revers
									.btn-link__text на главную

							.section-grid__right
								h1.title На сайте <br>возникла ошибка

						.section-grid
							.section-grid__right.section-grid__right--wide
								span Уже исправляем. Скоро всё заработает!

								.error
									.error__number 502
									.error__text код <br>ошибки

			//-FOOTER
			include /sections/_footer
		//- POPUPS
		include /popups/_all
		//- SCRIPTS
		include /base/_scripts
