.section-grid.section-grid--head.section-grid--tablet

	.section-grid__left
		button.btn-link.btn-link--revers
			.btn-link__text назад
	.section-grid__right
		h1.title-duel.title-duel--s.title-duel--flex
			.title-duel__el пётр ян
			.title-duel__el элджемейн стерлинг
