.section-grid.section-grid--tablet

	.section-grid__right
		.rivals.rivals--m
			.rivals__img
				+image('img/banner/rivals-1.jpg', 'alt')
			.rivals__img
				+image('img/banner/rivals-2.png', 'alt')

.section-grid

	.section-grid__right
		.info
			ul.info__list.info__list--column
				li.info__elem
					.info__name итог
					.info__data поражение
						span 5 раунд / 5:00 / решением

				li.info__elem
					.info__name когда
					.info__data 6 мая, суббота в 18:00

				li.info__elem
					.info__name турнир
					.info__data PFL EUROPE 1: 2023 REGULAR SEASON

				li.info__elem
					.info__name где
					.info__data "Vertu Motors Arena", Ньюкасл, Англия, Великобритания

				li.info__elem
					.info__name титул
					.info__data нет

				li.info__elem
					.info__name длительность
					.info__data 5 раундов / 3 минуты

			//- button(type="button").info__btn.btn включить уведомление
