section.main-banner.main-banner--duel

	.main-banner__slider(data-custom-cursor=".custom-cursor")
		.swiper.mb-slider-js
			.main-banner__wrapper.swiper-wrapper
				.swiper-slide
					.main-banner__slide
						.main-banner__el
							.main-banner__container
								.main-banner__img
									+image('img/banner/duel-2.png', 'alt')
								.main-banner__content
									.main-banner__name ufc 267
									h1.title-duel пётр ян <sup>vs</sup> <br>элджемейн стерлинг
									.rivals
										.rivals__img
											+image('img/banner/rivals-1.jpg', 'alt')
										.rivals__img
											+image('img/banner/rivals-2.png', 'alt')
									.main-banner__bottom
										.main-banner__data
											p 30 октября
											span понедельник / 04:00 по мск
										a(href="#", target="_blank" data-default-cursor).btn.main-banner__btn трансляция
							.main-banner__progress
								span

				.swiper-slide
					.main-banner__slide
						.main-banner__el
							.main-banner__container
								.main-banner__img
									+image('img/banner/duel-1.png', 'alt')
								.main-banner__content
									.main-banner__code rcc 245
									h1.title-duel иван штырков <sup>vs</sup> <br>антонио сильва
									.rivals
										.rivals__img
											+image('img/banner/rivals-3.jpg', 'alt')
										.rivals__img
											+image('img/banner/rivals-4.png', 'alt')
									.main-banner__bottom
										.main-banner__data
											p 1 ноября
											span понедельник / 04:00 по мск
										a(href="#", target="_blank" data-default-cursor).btn.btn--transparent.main-banner__btn где смотреть?
							.main-banner__progress
								span

				.swiper-slide
					.main-banner__slide
						.main-banner__el
							.main-banner__container
								.main-banner__img
									+image('img/banner/duel-2.png', 'alt')
								.main-banner__content
									.main-banner__code ufc 267
									h1.title-duel пётр ян <sup>vs</sup> <br>элджемейн стерлинг
									.rivals
										.rivals__img
											+image('img/banner/rivals-1.jpg', 'alt')
										.rivals__img
											+image('img/banner/rivals-2.png', 'alt')
									.main-banner__bottom
										.main-banner__data
											p 30 октября
											span понедельник / 04:00 по мск
										a(href="#", target="_blank" data-default-cursor).btn.main-banner__btn трансляция
							.main-banner__progress
								span

				.swiper-slide
					.main-banner__slide
						.main-banner__el
							.main-banner__container
								.main-banner__img
									+image('img/banner/duel-1.png', 'alt')
								.main-banner__content
									.main-banner__code ufc 267
									h1.title-duel пётр ян <sup>vs</sup> <br>элджемейн стерлинг
									.rivals
										.rivals__img
											+image('img/banner/rivals-1.jpg', 'alt')
										.rivals__img
											+image('img/banner/rivals-2.png', 'alt')
									.main-banner__bottom
										.main-banner__data
											p 30 октября
											span понедельник / 04:00 по мск
										a(href="#", target="_blank" data-default-cursor).btn.main-banner__btn трансляция
							.main-banner__progress
								span

		.custom-cursor.btn-slider.btn-slider--circle





