section.short.short-slider-js
	.short__container
		.short__title.fadeInUp
			h2.title-short short news

			.short__btns
				button.btn-slider.btn-slider--prev.short__btn--prev
				button.btn-slider.short__btn--next

	.short__box
		.short__left

		.short__right.fadeInLeftFaster
			.short__slider.swiper
				.swiper-wrapper
					.swiper-slide
						.short__elem
							.short__anim.fadeInLeft
								.short__name Lorem ipsum "" dolor sit amet, consectetur adipiscing elit. Nunc vel sapien eros. Quisque dui turpis
								.short__data сегодня

					.swiper-slide
						.short__elem
							.short__anim.fadeInLeft
								.short__name Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ut fuga corrupti voluptatum cum quasi accusamus odit illum alias repudiandae.
								.short__data сегодня

					.swiper-slide
						.short__elem
							.short__anim.fadeInLeft
								.short__name Чжан Пеймиан нацелен на титул чемпиона
								.short__data сегодня

					-for(let i = 0; i < 10; i++)
						.swiper-slide
							.short__elem
								.short__anim.fadeInLeft
									.short__name «Я просто хочу драться с лучшими» – Чжан Пеймиан нацелен на титул чемпиона «Я просто хочу драться с лучшими» – Чжан Пеймиан нацелен на титул чемпиона
									.short__data сегодня




