.popup#card-popup
	.popup__block
		.popup__close
		.popup__title титулы
		.popup__content
			ul.card-popup__list
				li.card-popup__item
					.card-popup__name Чемпион ufc в легчайшем весе
					.card-popup__icon
						+image('img/card/ufc.svg', 'alt')
				li.card-popup__item
					.card-popup__name Чемпион ufc в легчайшем весе
					.card-popup__icon
						+image('img/card/rcc.svg', 'alt')

			.card-popup__btns
				a(href="#").btn подробнее о бойце
